# ==========================================
# COGB-AI — CONFIGURAÇÃO
# ==========================================

# Chave da API do Groq
GROQ_API_KEY=SUA_CHAVE_GROQ_AQUI

# Número do administrador do bot
# Coloque somente números, sem +, espaços ou hífens
ADMIN_NUMBER=5565996SEUS_DIGITOS70

# Número da conta do WhatsApp que será o BOT
# É este número que será usado para o código de pareamento
BOT_NUMBER=SEU_NUMERO_DO_BOT

# Versão do Node recomendada
NODE_VERSION=20
