# ==============================
# CHAIM-BOT - CONFIGURAÇÃO
# ==============================

# Chave da API do Groq
GROQ_API_KEY=sua_chave_groq_aqui

# Número do administrador/dono do bot
# Somente números, sem +, espaços ou traços
ADMIN_NUMBER=5565996****70

# Número da conta do WhatsApp que será usada pelo bot
# Coloque aqui o número DO BOT, não o número do administrador
BOT_NUMBER=seu_numero_do_bot_aqui

# Porta usada pelo servidor
PORT=3000
