# ==========================================
# COGB-AI — CONFIGURAÇÃO
# ==========================================

# Chave da API do Groq
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
 q
# Número do administrador do bot
# Coloque somente números, sem +, espaços ou hífens
5565996799870

# Número da conta do WhatsApp que será o BOT
# É este número que será usado para o código de pareamento
5565992559105

# Versão do Node recomendada
NODE_VERSION=20
